<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        tr,
        th,
        td {
            border: 1px solid black;
            text-align: left;
        }
    </style>
</head>

<body>
    <h3>URL shortener</h3>

    <!-- backend sy jo data ata h wo locals k andr hota h -->
    <% if (locals.shortID) { %>
        <p>http:localhost:8001/url/<%= shortID %>
        </p>
        <% } %>


            <div>
                <form method="POST" action="/url">
                    <label>Enter Your Original URL</label>
                    <input type="text" name="redirectURL" placeholder="Enter URL">
                    <button type="submit">Generate</button>
                </form>
            </div>
            <br /><br />


            <% if (locals.URLs) { %>
                <table>
                    <thead>
                        <th>S.no</th>
                        <th>Short URL</th>
                        <th>Redirect Link</th>
                        <th>Clicks</th>
                    </thead>

                    <tbody>
                        <% URLs.forEach((url, index)=> { %>
                            <tr>
                                <td>
                                    <%= index+1 %>
                                </td>
                                <td>
                                    <a target="_blank" href="http://localhost:8001/url/<%= url.shortURL %>">
                                        http://localhost:8001/url/<%= url.shortURL %></a>
                                </td>
                                <td>
                                    <%= url.redirectURL %>
                                </td>
                                <td>
                                    <%= url.visitorHistory.length %>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <% } %>
</body>

</html>